.classpath
.project
.settings/
.tern-project
target/
\.externalToolBuilders/

*.class

src/main/webapp/WEB-INF/lib/

src/main/webapp/WEB-INF/classes/META-INF/persistence\.xml

src/main/webapp/WEB-INF/classes/configuraciones/configuraciones\.json

src/main/webapp/WEB-INF/classes/

src/main/java/py/com/personal/mundo/servicios/usuario/servicio/UsuarioService.java
